{% if device_controller %}
	<ul class="list-group">
	{% for action in device_controller.get_actions() %}
		<li class="list-group-item">{{ action[1] }} <span class="pull-right"><a id="{{ action[2] }}" class="action" href="#">Go</a></span></li>
		{% if action[0] %}
			<div id="{{ action[2] }}_modal" class="modal fade" role="dialog">
			 	<div class="modal-dialog">
			    	<div class="modal-content">
			      		<div class="modal-header">
			       			<button type="button" class="close" data-dismiss="modal">&times;</button>
			        		<h4 class="modal-title">{{ action[1] }}</h4>
			      		</div>
			     		<div class="modal-body">
			     			<form action="/device/{{ device.get('id') }}" class="form-inline" method="post">
			        			<div class="form-group">
			        				<input type="hidden" name="action" value="{{ action[2] }}">
			        				<label for="input">New Value:</label>
			        				<input type="text" class="form-control" id="input" name="value">
			        				<input type="submit" class="form-control">
			        			</div>
			        		</form>
			      		</div>
			    	</div>
			  	</div>
			</div>
		{% else %}

		{% endif %}
	{% endfor %}
	</ul>
{% endif %}