<ul class="list-group">
	<li class="list-group-item">ID <span class="pull-right">{{ device.get("id") }}</span></li>
	<li class="list-group-item">Type <span class="pull-right">{{ device.get("device_type") }}</span></li>
	<li class="list-group-item">IP <span class="pull-right"><a class="edit"><i class="fa fa-pencil fa-fw"></i></a>{{ device.get("ip") }}</span></li>
	<li class="list-group-item">Port <span class="pull-right">{{ device.get("port") }}</span></li>
	<li class="list-group-item">Tag <span class="pull-right">{{ device.get("tag") }}</span></li>
</ul>