<ul class="list-group">
	<li class="list-group-item">ID <span class="pull-right">{{ device.get("id") }}</span></li>
	<li class="list-group-item">Type <span class="pull-right">{{ device.get("device_type") }}</span></li>
	<li class="list-group-item">IP <span class="pull-right">{{ device.get('ip') }}</span></li>
	<li class="list-group-item ">Port <span class="pull-right">{{ device.get("port") }}</span></li>
	<li class="list-group-item">Tag <span class="pull-right">{{ device.get("tag") }}</span></li>
</ul>
<input type="button" class="form-control btn btn-default" id="device-modify" value="Modify" data-toggle="modal" data-target="#device-modify-modal"/>

<div id="device-modify-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modify Device Information</h4>
      </div>
      <div class="modal-body">
        <form action="/device/{{ device.get('id') }}" method="post">
        	<div class="form-group">
				<input type="hidden" name="action" value="device_modify" class="form-group">
				<label class="form-control-label" for="device_ip">IP</label>
				<input type="text" class="form-control" id="device_ip" name="device_ip" value="{{ device.ip }}">
				<label class="form-control-label" for="device_port">Port</label>
				<input type="text" class="form-control" id="device_port" name="device_port" value="{{ device.port }}">
				<label class="form-control-label" for="device_tag">Tag</label>
				<input type="text" class="form-control" id="device_tag" name="device_tag" value="{{ device.tag }}">
			</div>
			<input type="submit" class="form-control btn btn-default" value="Update">
		</form>
      </div>
    </div>
  </div>
</div>