<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-plus fa-fw"></i> Add a Motion Sensor
    </div>
    <div class="panel-body">
        <form action="/adddevice", method="POST">
			<input type="hidden" name="device_type" value="{{ device_type }}">
			{{ device_form.hidden_tag() }} <br>
			{{ device_form.tag.label }}
			{{ device_form.tag(class_="form-control") }} <br>
			{{ device_form.ip.label }}
			{{ device_form.ip(class_="form-control") }} <br>
			{{ device_form.port.label }}
			{{ device_form.port(class_="form-control") }} <br>
			{{ device_form.submit(class_="form-control btn-default") }}
		</form>
    </div>
</div>