{% extends "layout.html" %}

{% block page_title %}Add Device{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="page-header">
			<h1>Add Device</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
			{{ choose_form.device.label }} <br>
			{{ choose_form.device(class_="form-control")  }}
			<br>
			<blockquote class="blockquote">
				<p class="m-b-0">
					To add a device you need the following information: <br>
					<strong>Identifier Name</strong>: This is a unique name for your device so it is easier for you to track. <br>
                	<strong>IP</strong>: This is the specified IP address of your device (this works best if it has a reserved IP address in your router settings) <br>
                	<strong>Port</strong>: This is the specified port number your device will be listening on.
                </p>
			</blockquote>
		</div>
		<div class="col-md-4">
			{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }}</p>
			{% endif %}
			{% include "forms/{}.html".format(device_type.lower()) %}
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
	$(function() {
		$("#device").change(function () {
			$.ajax({
				type: "GET",
				url: "/adddevice",
				data: {
						device: $("#device option:selected").val()
					  }
			}).done(function(msg) {
				document.open();
				document.write(msg);
				document.close();
			});
		});
	});
</script>
{% endblock %}
