
{% extends "base.html" %}

{% block title %}Device Page{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="page-header">
			<h1>Status</h1>
		</div>
	</div>
	 <div class="row">
	    <div class=" col-md-4">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">
	    			<i class="fa fa-wrench fa-fw"></i> Configuration
	    		</div>
	    		<div class="panel-body">
		    		{% include "includes/device_configuration.html" %}
	    		</div>
	    	</div>
	    </div>
	    <div class=" col-md-4">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">
	    			<i class="fa fa-flash fa-fw"></i> Actions
	    		</div>
	    		<div class="panel-body">
		    		{% include "includes/device_actions.html" %}
	    		</div>
	    	</div>
	    </div>
	    <div class=" col-md-4">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">
	    			<i class="fa fa-warning fa-fw"></i> Admin
	    		</div>
	    		<div class="panel-body">
		    		 <ul class="list-group">
						<li class="list-group-item"><p>Remove Device <span class="pull-right"><button id="remove" class="btn btn-danger">&times;</button></span></p></li>
					</ul>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
	$("#remove").on("click", function (e) {
		$.ajax({
				type: "POST",
				url: "/device/{{ device.get("id") }}",
				data: {
						action: "remove",
						id: e.target.id
					  }
			});
	});
	$(".edit").on("click", function (e) {
		$(e.target).removeClass("fa-pencil");
		$(e.target).addClass("fa-check");
		$(e.target).parent().attr("id", "editing");
	});
	$("document").on("click", "#editing", function (e) {
		console.log("It happened");
		$(e.target).removeClass("fa-check");
		$(e.target).addClass("fa-pencil");
		$(e.target).parent().attr("id", "");
	});
</script>
{% endblock %}