{% extends "base.html" %}

{% block title %}Device Page{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="page-header">
			<h1>Device Management</h1>
		</div>
	</div>
	 <div class="row">
	    <div class=" col-md-4">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">
	    			<i class="fa fa-wrench fa-fw"></i> Device Infomation
	    		</div>
	    		<div class="panel-body">
		    		{% include "includes/device_configuration.html" %}
	    		</div>
	    	</div>
	    </div>
	    <div class=" col-md-4">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">
	    			<i class="fa fa-flash fa-fw"></i> Actions
	    		</div>
	    		<div class="panel-body">
		    		{% include "includes/device_actions.html" %}
	    		</div>
	    	</div>
	    </div>
	    {% if device.get("device_type") == "MotionSensor" %}
	    	<div class=" col-md-4">
		    	<div class="panel panel-default">
		    		<div class="panel-heading">
		    			<i class="fa fa-bell fa-fw"></i> Notifications
		    		</div>
		    		<div class="panel-body">
			    		 <ul class="list-group">
			    		 	<li class="list-group-item">			    		 		
		                    	{% for notification in notifications %}
		                        	{% include "includes/notification.html" %}
		                        {% endfor %}
			    		 	</li>
						</ul>
		    		</div>
		    	</div>
		    </div>
	    {% else %}
		    <div class=" col-md-4">
		    	<div class="panel panel-default">
		    		<div class="panel-heading">
		    			<i class="fa fa-clipboard fa-fw"></i> Status
		    		</div>
		    		<div class="panel-body">
			    		 <ul class="list-group">
			    		 	<li class="list-group-item">
			    		 		ex: Light is on. Temp is 85. ETC
			    		 	</li>
			    		 	<li class="list-group-item">
			    		 		Change this to a notification log instead of status when the device is a motion sensor. "Motion dected at 12:24PM"
			    		 	</li>
						</ul>
		    		</div>
		    	</div>
		    </div>
		{% endif %}
	</div>
	<div class="row">
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-gear fa-fw"></i> Create Device Bindings
				</div>
				<div class="panel-body">
					{% include "includes/bind_device.html" %}
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-cogs fa-fw"></i> Device Bindings
				</div>
				<div class="panel-body">
					{% include "includes/device_binding.html" %}
				</div>
			</div>
		</div>
		<div class=" col-md-4">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">
	    			<i class="fa fa-warning fa-fw"></i> Admin
	    		</div>
	    		<div class="panel-body">
		    		 <ul class="list-group">
						<li class="list-group-item">
							<p>Remove Device <span class="pull-right"><a id="remove" href="#">Go</a></span</p>
						</li>
						<li class="list-group-item">
							<p>Edit Configuration File <span class="pull-right"><a id="config" href="#">Go</a></span></p>
							<div id="config-modal" class="modal fade" role="dialog">
							 	<div class="modal-dialog">
							    	<div class="modal-content">
							      		<div class="modal-header">
							       			<button type="button" class="close" data-dismiss="modal">&times;</button>
							        		<h4 class="modal-title">Edit Device Configuration</h4>
							      		</div>
							     		<div class="modal-body">
							     			<form id="edit-config-form" action="/device/{{ device.get('id') }}" class="form-group" method="post">
							        			<div class="form-group">
							        				<input type="hidden" name="action" value="edit">
							        				<textarea name="data" form="edit-config-form" class="form-control" rows="25">{{ config }}</textarea>
							        				<input type="submit" class="form-control" value="Update">
							        			</div>
							        		</form>
							      		</div>
							    	</div>
							  	</div>
							</div>
						</li>
					</ul>
	    		</div>
	    	</div>
	    </div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
	$("#remove").on("click", function (e) {
		$.ajax({
				type: "POST",
				url: "/device/{{ device.get("id") }}",
				data: {
						action: "remove",
						id: e.target.id
					  }
			}).done(function() {
				window.location.href = "{{ url_for('main.index') }}";
			});
	});
	$("#config").on("click", function (e) {
		$("#config-modal").modal("show");
	});
	$(".action").on("click", function(e) {
		$("#" + e.target.id + "_modal").modal("show");
	});
	$(".edit").on("click", function (e) {
		$(e.target).removeClass("fa-pencil");
		$(e.target).addClass("fa-check");
		$(e.target).parent().attr("id", "editing");
	});
	$("document").on("click", "#editing", function (e) {
		console.log("It happened");
		$(e.target).removeClass("fa-check");
		$(e.target).addClass("fa-pencil");
		$(e.target).parent().attr("id", "");
	});
</script>
{% endblock %}